
<div class="row">
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
		<div class="well">
			<b><%= I18n.t("find_announcement.where.country") %></b> <%=@query["country"]%> | 
			<b><%= I18n.t("find_announcement.where.where") %></b> <%=@query["where"]%> | 
			<b><%= I18n.t("find_announcement.where.around") %></b> <%=@query["around"]%> km
			(<%= link_to I18n.t("common.change") , previous_wizard_path %>)
		</div>
	</div>
	
	<% @announcements.each do |announcement| %>
		<div class="span3">
			<div class="well break-word ">
				<h3><%= link_to  announcement.name , next_wizard_path(:announcement_id => announcement.id) %></h3>
				<p>
					<%= announcement.description[0..150] %>
					</br>
					<%= link_to  I18n.t("common.more") , announcement %>
				</p>
			</div>
		</div>
	<%end%>
</div>
