 
<div class="row">
	<div class="span4">
		<div class="well billboard-controlls">
		   <h4>Gemeinschaft <%=billboard.name%></h4>
		   <%= link_to I18n.t("common.billboard"), billboard , :class =>"btn btn-primary"%>
		</div>
	</div>
	<%if !current_user.announcements(billboard).empty?%>
	<div class="span4">
		<div class="well">
		    <table class="table table-hover break-word">
				
			      <tr>

			        <td><b><%= I18n.t("announcement.my_activities" ) %></b></td>

			      </tr>
			      <% current_user.announcements(billboard).each do |announcement| %>
			         <tr>
			          <td>
			          		<%= link_to announcement.name, announcement %>
			          		<span class="pull-right"><%= link_to (raw("<i class=\"icon-share\"></i>")) , new_announcement_path(:billboard_id => announcement.billboard.id,:announcement_id => announcement.id), :title => I18n.t("announcement.clone" ) %></span>
			          </td>
			         </tr>
			      <%end%>
				
			</table>
			</div>
	</div>
	<%end%>
	<%if !current_user.commented_announcements(billboard).empty?%>
	<div class="span4">
		<div class="well">
	 <table class="table table-hover break-word">
				
			      <tr>
			        <td><b><%= I18n.t("announcement.other_activities") %></b></td>
			      </tr>
			      <% current_user.commented_announcements(billboard).each do |announcement| %>
			         <tr>
			          <td><%= link_to announcement.name, announcement %></td>
			         </tr>
			      <%end%>
			     
		    </table>  
		    </div>     
		</div>
		<%end%>
</div>
