<div class="billboard-controlls well">
	<h4>Mitbringliste:</h4>
		
		<% @announcement.bringthings.each do |bringthing| %>
				<b><%= bringthing.thing %>(<%= bringthing.user.name %>)</b>,
		<%end%>
		<hr/>
		
		<%if current_user%>
			<%= simple_form_for(@announcement.bringthings.build) do |f| %>		
			  <div class="form-inputs">
			  	<%= f.input :thing, :label => false, :placeholder => "Sache", :input_html => {:maxlength =>35,:style=> 'width: 100px'}%> 
			  	<%= f.input :announcement_id , :as => :hidden %>
			  </div>
			  	<%= f.submit "Mitbringen" , :class => "btn btn-primary"%>	  
			<% end %>
		<%end%>	
</div>