<div class="well comment-form">
	<h4>Schreibe eine Nachricht:</h4>
	<%= simple_form_for(@announcement.comments.build) do |f| %>

	<div class="form-inputs">

		<%= f.input :private, :label => "Private Nachricht", :hint => "Private Nachrichten sind nur für freigeschaltete Nutzer sichtbar" %>

		<%= f.input :text ,:label => false, :required => false , :input_html => {:rows => 3 ,:id => "comment-form-input"}%>
		<%= f.input :announcement_id , :as => :hidden %>
	</div>

	<%= f.submit "Abschicken" , :class => "btn btn-primary"%>

	<% end %>
</div>