<div class="well">
	<h4><%= I18n.t("announcement.comment.title") %></h4>
	<%= simple_form_for(@announcement.comments.build) do |f| %>

	<div class="form-inputs">

		<%= f.input :private, :wrapper => :checkbox,:label => raw("<abbr title=\""+I18n.t("announcement.comment.private_hint")+"\">"+I18n.t("announcement.comment.private")+"</abbr>")  %>
		<%= f.input :text ,:label => false, :required => false , :input_html => {:rows => 3 ,:id => "comment-form-input"}%>
		<%= f.input :announcement_id , :as => :hidden %>
	</div>

	<%= f.submit I18n.t("common.send") , :class => "btn btn-primary"%>

	<% end %>
</div>
