<div class="billboard-controlls well break-word">
  <h4>Terminvorschläge:</h4>
  <hr/>
  <% if @announcement.date_time_suggestions.count %>
  	Keine Terminvorschläge vorhanden
  <%end%>
  <% @announcement.date_time_suggestions.sort_by { |suggestion| suggestion.plusminus }.reverse.each do |suggestion|%>
  	<div class="date-box">
  		<%= I18n.l suggestion.datetime, :format =>'%d. %B %Y - %H:%M'%>
	  		
  			<br>
			<div align="right">
	  		<nobr><i class="icon-thumbs-up icon-white"></i> <%= suggestion.votes_for%> <i class="icon-thumbs-down icon-white"></i> <%= suggestion.votes_against%></nobr>
	  		<% disabled= current_user.voted_on? suggestion%>
	  			<nobr>
			<%= link_to raw("<i class=\"icon-thumbs-up icon-white\"></i>"),
			 vote_date_announcement_path(@announcement,{"date_time_suggestion_id" => suggestion.id, "vote" => "up"}), :class => "btn btn-mini btn-success" + (disabled ? " disabled" : "")%>
			<%= link_to raw("<i class=\"icon-thumbs-down icon-white\"></i>"),
			 vote_date_announcement_path(@announcement,{"date_time_suggestion_id" => suggestion.id, "vote" => "down"}), :class => "btn btn-mini btn-danger" + (disabled ? " disabled" : "")%>
	 		</nobr>
	  		</div>
	  		
  		
  		
  	
	  		
  		
  	</div>
  <%end%>
  <hr/>
  <span class="control-label">Neuen Termin vorschlagen</span><br/>
  <%= simple_form_for :date_time_suggestion, :url => suggest_date_announcement_path do |f| %>
  	<%= f.input :datetime , :as => :datetime , :label => false , :datetime_separator => raw('<br/>')%>
  	<%= f.submit "Vorschlagen", :class => "btn btn-primary" %>
  <%end%>
</div>