<%= simple_form_for(@announcement) do |f| %>
  <%= f.error_notification %>
  
	<div class="form-inputs">
		<%= f.input :name , :label => "Titel"%>
		<%= f.input :description, :input_html => { :rows => 5 } , :label => "Beschreibung"%>
		<%= f.input :billboard_id , :as => :hidden %>
	</div>
  
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
  
<% end %>
