<%= simple_form_for(@announcement) do |f| %>
 
  <%= f.error_notification %>
  
	<div class="form-inputs">
		<%= f.input :name , :label =>  I18n.t("announcement.name") %>
		<%= f.input :description, :input_html => { :rows => 5 } , :label => I18n.t("announcement.description")%>
		<%= f.input :datetime_type, :as => :radio_buttons,:label => I18n.t("announcement.datetime.label"), :collection => {
			I18n.t("announcement.datetime.no_date") => "no_date" , 
			I18n.t("announcement.datetime.date_suggest") => "date_suggest" , 
			raw(I18n.t("announcement.datetime.date_fixed") + select_datetime(@announcement.datetime , :datetime_separator => I18n.t("announcement.datetime.seperator"))) => "date_fixed"} %>
		<span class="control-label">Module aktivieren</span>
		<%= f.input :uj , :label => false,:inline_label => I18n.t("announcement.userjoin.title")%>
		<%= f.input :bt , :label => false,:inline_label => I18n.t("announcement.bringthing.title")%>
		<span class="control-label"><%=I18n.t("announcement.location")%></span><br/> <i>(<%=I18n.t("announcement.location_hint")%>)</i>
		<% if request.location %>
		  <%= gmaps({ 
			"map_options" => { "container_class" => "map_container map_container_form" , "center_longitude" => request.location.longitude,"center_latitude" => request.location.latitude, "zoom" => 12, "auto_adjust" => true},
			"markers" => {"data" => @json}
			}) %> 
		<%else%>
			 <%= gmaps({ 
			"map_options" => { "container_class" => "map_container map_container_form" , "zoom" => 1, "auto_adjust" => true , "auto_zoom" => false },
			"markers" => {"data" => @json}
			}) %> 
		<%end%>
		  <% content_for :scripts do %>
		    <script type="text/javascript" charset="utf-8">
		        var markersArray = [];
		        // On click, clear markers, place a new one, update coordinates in the form
		        Gmaps.map.callback = function() {
		            google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
		              clearOverlays();
		              placeMarker(event.latLng);
		              updateFormLocation(event.latLng);
		            });
		        };
		        // Update form attributes with given coordinates
		        function updateFormLocation(latLng) {
		            $('#billboard_latitude').val(latLng.lat());
		            $('#billboard_longitude').val(latLng.lng());

		        }
		        // Add a marker with an open infowindow
		        function placeMarker(latLng) {
		            var marker = new google.maps.Marker({
		                position: latLng, 
		                map: Gmaps.map.serviceObject,
		                draggable: true
		            });
		            markersArray.push(marker);
		            //Gmaps.map.replaceMarkers(markersArray)
		            // Set and open infowindow
		            var infowindow = new google.maps.InfoWindow({

		            });
		            infowindow.open(Gmaps.map.serviceObject,marker);
		            // Listen to drag & drop
		            google.maps.event.addListener(marker, 'dragend', function() {
		                updateFormLocation(this.getPosition());
		            });
		        }
		        // Removes the overlays from the map
		        function clearOverlays() {
		          if (markersArray) {
		            for (var i = 0; i < markersArray.length; i++ ) {
		              markersArray[i].setMap(null);
		            }
		          }
		          markersArray.length = 0;
		        }
		    </script>
		  <% end %></br>

		  <%= f.input :location, :input_html => { :rows => 4 } , :label => I18n.t("announcement.location_text"), :hint => I18n.t("announcement.location_text_hint")%>

			<%= f.input :latitude ,:as => :hidden, :input_html => {:id => "billboard_latitude", :readonly => true}%>
			<%= f.input :longitude,:as => :hidden, :input_html => {:id => "billboard_longitude", :readonly => true}%>

		<%= f.input :billboard_id , :as => :hidden, :input_html => {:value => @billboard.id} %>
		<br />
	</div>
  
  	<%= f.submit I18n.t("announcement.create"), :class => "btn btn-primary" %>
  	
<% end %>