<div class="billboard-controlls well">
   <%= gmaps({
				"map_options" => { "container_class" => "minimap_container", "id" =>  "minimap","auto_adjust" => true , "zoom" => 14,"auto_zoom" => false},
				"markers" => {"data" => @json}
		}) %>
		<p style="font-size:xx-small;">
					<b><%= I18n.t("common.map.lat") %></b>
					<%= @announcement.latitude %></p>
				<p style="font-size:xx-small;">
					<b><%= I18n.t("common.map.long") %></b>
					<%= @announcement.longitude %>
				</p>
</div>
