
<div class="row">

<div class="well" id="billboard-controlls">
	<h1><%= current_user.name %></h1>
</div>

<%if !current_user.dialogs.empty?%>
	<div class="well span5">
		<h3>Paten</h3>
		<table class="table table-hover">
			<%current_user.dialogs.each do |dialog|%>
				<tr>
					<%if dialog.billboard %>
						<%if dialog.godfather %>
							<td><%=link_to dialog.billboard.name + "(" + dialog.godfather.name + ")", :controller => "billboards", :action => "dialog", :id => dialog.id%></td>
						<%else%>
							<td><%=link_to dialog.billboard.name + "(Noch kein Pate gefunden)", :controller => "billboards", :action => "dialog", :id => dialog.id%></td>
						<%end%>
					<%end%>
				</tr>
			<%end%>
		</table>
	</div>
<%end%>

<%if !@my_pates.empty?%>
	<div class="well span5">
	<h3>Patenschaften</h3>
		<table class="table table-hover">
			<%@my_pates.each do |dialog|%>
					<tr>
						<td><%=link_to dialog.billboard.name+"("+dialog.user.name+")", :controller => "billboards", :action => "dialog", :id => dialog.id%></td>
					</tr>
			<%end%>
		</table>
	</div>
<%end%>

<div class="span12">
	<h3>Litfaßsäulen:</h3>
	
	<% current_user.BillboardActivations.each do |activation|%>

		<div class="well span3">
		    <h4><%= link_to activation.billboard.name, activation.billboard %></h4>
		    
		    <table class="table table-hover">
		     <% if Announcement.exists? current_user.announcements(activation.billboard).first %>
			      <tr>
			        <td><b>Meine Anzeigen:</b></td>
			      </tr>
			      <% current_user.announcements(activation.billboard).each do |announcement| %>
			         <tr>
			          <td><%= link_to announcement.name, announcement %></td>
			         </tr>
			      <%end%>
		      <%end%>
		      <% if Announcement.exists? current_user.commented_announcements(activation.billboard).first %>
			      <tr>
			        <td><b>Fremde Anzeigen:</b></td>
			      </tr>
			      <% current_user.commented_announcements(activation.billboard).each do |announcement| %>
			         <tr>
			          <td><%= link_to announcement.name, announcement %></td>
			         </tr>
			      <%end%>
			  <%end%>
		    </table>       
		</div>		

	<%end%>
	
	<% current_user.billboards.each do |billboard| %>
		<div class="well span3">
		    <h4><%= link_to billboard.name, billboard %></h4>
		    
		    <table class="table table-hover">
		     <% if Announcement.exists? current_user.announcements(billboard).first %>
			      <tr>
			        <td><b>Meine Anzeigen:</b></td>
			      </tr>
			      <% current_user.announcements(billboard).each do |announcement| %>
			         <tr>
			          <td><%= link_to announcement.name, announcement %></td>
			         </tr>
			      <%end%>
		      <%end%>
		      <% if Announcement.exists? current_user.commented_announcements(billboard).first %>
			      <tr>
			        <td><b>Fremde Anzeigen:</b></td>
			      </tr>
			      <% current_user.commented_announcements(billboard).each do |announcement| %>
			         <tr>
			          <td><%= link_to announcement.name, announcement %></td>
			         </tr>
			      <%end%>
			  <%end%>
		    </table>       
		</div>
	<%end%>
	
	</div>
</div>
