
<%if @announcement.name %>
	<div class="alert">
	<%= I18n.t("announcement.clone_text" ) %>
	</div>
<% end %>


<div class="row">
	<div class="span12">
		<div class="well">
		<h1><%= I18n.t("announcement.new" ) %> <i><%= I18n.t("common.for" ) %>  <%= @announcement.billboard.name%></i></h1>

		<%= render 'form' %>
		
		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> " + I18n.t("common.cancel" ))), billboard_path(@announcement.billboard) , :class => "btn"  %>
	</div>
</div>
