<h2>Bestätigungsemail erneut senden</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true ,:label => "E-Mail"%>
  </div>

  <div class="actions">
    <%= f.button :submit, "Bestätigungsemail erneut senden." %>
  </div>
<% end %>

<%= render "links" %>