<div class="row">
	<div class="span12">
		<div class="well">
		<h2><%= I18n.t("devise.registrations.edit.title" ) %></h2>
		
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= f.error_notification %>
		
		  <div class="inputs">
		  	<%= f.input :name, :required => true, :autofocus => true , :label => I18n.t("devise.registrations.name")%>
		    <%= f.input :email, :required => true , :label => I18n.t("devise.registrations.email")%>
		    <%= f.input :password, :autocomplete => "off", :label => I18n.t("devise.registrations.edit.password.label"),:hint => I18n.t("devise.registrations.edit.password.hint"), :required => false %>
		    <%= f.input :password_confirmation, :required => false , :label => I18n.t("devise.registrations.edit.password.confirmation_label")%>
		    <%= f.input :current_password, :label => I18n.t("devise.registrations.edit.password.current_label"), :hint => I18n.t("devise.registrations.edit.password.current_hint") , :required => true %>
		  </div>
		
		  <div class="actions">
		  		<button class="btn btn-primary"><%= I18n.t("devise.registrations.edit.change") %></button>
		  </div>
		<% end %>

		</div>
	</div>
	<div class="span12">
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i>" + I18n.t("common.profile"))), announcements_path , :class => "btn"  %>
	</div>
</div>
