<div class="well">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
  	<%= f.input :name, :required => true, :autofocus => true , :label => "Name"%>
    <%= f.input :email, :required => true , :label => "E-Mail"%>
    <%= f.input :password, :autocomplete => "off", :label => "Passwort",:hint => "leer lassen wenn es nicht geändert werden soll!", :required => false %>
    <%= f.input :password_confirmation, :required => false , :label => "Passwort bestätigen"%>
    <%= f.input :current_password, :label => "Aktuelles Passwort", :hint => "aktuelles Passwort zur Bestätigung eingeben", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Ändern" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
</div>
