<div class="row">
	
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
		<div class="well">
			<b>Name:</b> <%=@query["name"]%> | 
			<b>Beschreibung:</b> <%=@query["description"]%>
			(<%= link_to 'ändern' , previous_wizard_path %>)
		</div>
	</div>
	
	<div class="span12">
		<div class="well">
			Der Aushang der Gemeinschaft muss nun <b>ausgedruckt</b> und <b>aufgehängt</b> werden ( Diese Schritte sind auch noch später möglich! ):
			<br /><br />
			
		    <ol>
		    	<li>
		    		<!-- link_to (raw ("<i  class=\"icon-print \"></i> Aushang drucken")), billboard_path(:id => @billboard.id, :billboard => @billboard, :format => :pdf) ,:class => "btn"  -->
		    		<i  class="icon-print"></i><b> Aushang drucken</b> <br />
					<i class="icon-info-sign"></i> <em>Wenn du momentan den Aushang nicht ausdrucken kannst, ist dies auch später noch möglich. </em>
				</li>
				<br />
				<li>
					<b>Aushang aufhängen</b> <br />
					<i class="icon-info-sign"></i> <em>Nehme dazu den ausgedruckten Aushang und plaziere diesen so, dass man diesen mit Hilfe der Lagebeschreibung finden kann.</em>
		    	</li>
		    </ol>
		    
				<br /><br />
			<p>
				<i class="icon-info-sign"></i> <em>
				Wenn der Aushang nicht ausgedruckt und an der angegebenen Stelle plaziert wird, kann niemand deiner neuen Gemeinschaft beitreten!</em>
			</p>
		</div>
	</div>
	<div class="span12">
			
		<%= link_to (raw ("<i  class=\"icon-chevron-left icon-white\"></i> Zurück")), previous_wizard_path, :class => 'btn btn-primary' %>
		<%= link_to (raw ("Weiter <i  class=\"icon-chevron-right icon-white\"></i>")), next_wizard_path, :class => 'btn btn-primary'%>
			
	</div>

</div>



