<div class="row">

	<div class="span12">
		<%= render 'partial/header' %>
	</div>

	<%= render 'info' %>

	<div class="span12">
		<div class="well">
			<%= I18n.t("create_billboard.print.instruction") %>
			<br /><br />

		    <ol>
		    	<li>
		    		<%= link_to (raw ("<i  class=\"icon-print \"></i> "+ I18n.t("billboard.print"))), from_session_billboards_path(:format => :pdf) ,:class => "btn" , :target => "_blank" %><br />
					<em><%= I18n.t("create_billboard.print.print_hint") %> </em>
				</li>
				<br />
				<li>
					<b><%= I18n.t("create_billboard.print.place") %></b> <br />
					<em><%= I18n.t("create_billboard.print.place_hint") %></em>
		    	</li>
		    </ol>

				<br /><br />
			<p>
				<i class="icon-info-sign"></i> 
				<em><%= I18n.t("create_billboard.print.place_warn") %>
				</em>
			</p>
		</div>
	</div>
	<div class="span12">

		<%= link_to (raw ("<i  class=\"icon-chevron-left icon-white\"></i> "+ I18n.t("wizard.back"))), previous_wizard_path, :class => 'btn btn-primary' %>
		<%= link_to (raw (I18n.t("wizard.continue") + " <i  class=\"icon-chevron-right icon-white\"></i>")), next_wizard_path, :class => 'btn btn-primary'%>

	</div>

</div>