
	<% if (!user_signed_in?) && session.has_key?(:billboard)  && session[:billboard] == @billboard.id%>
		<div class="alert alert-info ">
			Du hast einen <b><i class="icon-qrcode"></i> Aktivierungscode</b> eingescannt oder eingetippt! Um dich für diese Litfaßsäule freizuschalten, musst du dich <b><%= link_to 'anmelden', new_user_session_path %></b> oder
			<%= link_to 'registrieren', new_user_registration_path%>, falls du noch keinen Benutzeraccount hast.

			</div >
	<%end%>

	<div class="row">
		<%=render '/partial/billboard_nav'%>

		<div class="span6">
			<div class="row per3">

			<% @billboard.announcements.each do |announcement| %>
			<div class="span3">
				<div class="well break-word ">
					<h3><%= link_to  announcement.name , announcement %></h3>
					<p>
						<%= announcement.description[0..150] %>
						</br>
						<%= link_to  'mehr' , announcement %>
					</p>
				</div>
			</div>
			<%end%>
			</div>
		</div>
		
		<div class="span3">
			<% if user_signed_in? %>
				<%old_dialog = dialog_sent? @billboard.id%>
				<% if old_dialog %>
					
					<div class="billboard-controlls well">
						<div class="well">
							<b><%= link_to  "Dein Paten-Gesuch" , :controller => "billboards", :action => "dialog", :id => old_dialog.id %></b>
						</div>
					</div>
				<%end%>
			<%end%>
			<%if user_signed_in? && @billboard.is_activated?(current_user) %>
				<div class="billboard-controlls well">
					<h3>Paten-Gesuche</h3>
						<%counter=0%>
						<% @billboard.dialogs.each do |dialog| %>
							<%if !dialog.godfather && dialog.user%>
								<div class="well">
									<b><%= link_to  dialog.user.name , :controller => "billboards", :action => "dialog", :id => dialog.id %></b>
								</div>
								<%counter=counter+1%>
							<%end%>
						<%end%>
						
						<%if counter == 0%>
							<b>Keine Gesuche</b>
						<%end%>
				</div>
			<%end%>
		</div>
		
	</div>