
	<% if (!user_signed_in?) && session.has_key?(:billboard)  && session[:billboard] == @billboard.id%>
		<div class="alert alert-info ">
			<%= I18n.t("billboard.activated.wrong_billboard_1") %> <b><i class="icon-qrcode"></i><%= I18n.t("billboard.code") %> </b> <%= I18n.t("billboard.activated.wrong_billboard_2") %> <b><%= link_to I18n.t("common.login" ), new_user_session_path %></b> <%= I18n.t("billboard.activated.wrong_billboard_3") %>
			<%= link_to I18n.t("common.register"), new_user_registration_path%><%= I18n.t("billboard.activated.wrong_billboard_4") %>

			</div >
	<%end%>

	<div class="row">
		<%=render '/partial/billboard_nav'%>

		<div class="span6">
			<% if @billboard.announcements.count == 0%>
				<div class="well">
					
					<h3><%= I18n.t("billboard.no_announcements") %></h3>
					<p><%= I18n.t("billboard.no_announcements_text") %></p>
				<a href="<%=url_for new_announcement_path(:billboard_id => @billboard.id) %>" class="btn btn-primary btn-large">
       				 <i class="icon-file icon-white"></i> <%= I18n.t("announcement.new")%> 
    			</a>
    			</div>
			<%end%>
			<div class="row per2">

			<% @billboard.announcements.each do |announcement| %>
			<div class="span3">
				<div class="well break-word ">
					<h3><%= link_to  announcement.name , announcement %></h3>
					<p>
						<%= announcement.description[0..150] %>
						</br>
						<%= link_to  I18n.t("common.more", :default => 'mehr') , announcement %>
					</p>
				</div>
			</div>
			<%end%>
			</div>
		</div>
		
		<div class="span3">
			<% if user_signed_in? %>
				<%old_dialog = dialog_sent? @billboard.id%>
				<% if old_dialog %>
					
					<div class="billboard-controlls well">
						<div class="well">
							<b><%= link_to  I18n.t("billboard.godfather_request") , :controller => "billboards", :action => "dialog", :id => old_dialog.id %></b>
						</div>
					</div>
				<%end%>
			<%end%>
			<%if user_signed_in? && @billboard.is_activated?(current_user) %>
				<div class="billboard-controlls well">
					<h3><%= I18n.t("billboard.godfather_requests") %></h3>
						<%counter=0%>
						<% @billboard.dialogs.each do |dialog| %>
							<%if !dialog.godfather && dialog.user%>
								<div class="well">
									<b><%= link_to  dialog.user.name , :controller => "billboards", :action => "dialog", :id => dialog.id %></b>
								</div>
								<%counter=counter+1%>
							<%end%>
						<%end%>
						
						<%if counter == 0%>
							<b><%= I18n.t("billboard.no_godfather_requests") %></b>
						<%end%>
				</div>
			<%end%>
		</div>
		
	</div>
