

<%=link_to image_tag('comic2-transparent.gif',:class=>"span3 pull-right"), activate_form_billboard_path(@billboard)%>

<div class="well">
			<h4><%= I18n.t("billboard.not_activated") %></h4>
		<p>
			<%= I18n.t("billboard.how_to.activate_1") %>
		</p>
		<p>
			<%=link_to I18n.t("billboard.activate"), activate_form_billboard_path(@billboard)%>
		</p>
		
		<p><%= I18n.t("billboard.how_to.find") %></p>
		
		<p><b><%= @billboard.description%></b></p>
		
		<p><%= I18n.t("billboard.how_to.faq_1")%> <a href="<%= url_for(:controller => "billboards",:action => 'description') %>"><%= I18n.t("billboard.how_to.faq_link") %></a><%= I18n.t("billboard.how_to.faq_2")%></p> 
</div>	
<% if (!current_user || !@billboard.is_activated?(current_user) ) %>
		<%old_dialog = dialog_sent? @billboard.id%>
		<% if !old_dialog %>
			<div class="well">
				<h4><%= I18n.t("billboard.dont_live_here") %></h4>
				<p>
				<%= I18n.t("billboard.how_to.search_godfather") %>
				</p><br />
				<b><%= link_to  (raw ("<i  class=\"icon-search icon-white\"></i> "+ I18n.t("billboard.search_godfather"))) , godfather_form_billboard_path(@billboard) ,:class => "btn btn-primary"%></b>
			</div>
		<%end%>
<%end%>
