<div class="well">
<h2>Anmelden</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
    <%= f.input :email, :required => false , :label => "E-Mail"%>
    <%= f.input :password, :required => false , :label => "Passwort"%>
    <%= f.input :remember_me,  :label => "Eingeloggt bleiben" ,:as => :boolean if devise_mapping.rememberable? %>
  

  <div class="actions">
    <%= f.button :submit, "Anmelden" %>
  </div>
<% end %>

<%= render "links" %>
</div>