<div class="row">
	<div class="span1"></div>
	<div class="span5">
		<div class="well fixed-login-size">
		<h2><%= I18n.t("devise.sessions.login") %></h2>
		
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="inputs">
		    <%= f.input :email, :required => false ,:label => I18n.t("devise.registrations.email") %>
		    <%= f.input :password, :required => false ,:label => I18n.t("devise.registrations.password") %>
		    <%= f.input :remember_me,  :label => I18n.t("devise.sessions.remember_me") ,:wrapper => :checkbox, :as => :boolean if devise_mapping.rememberable? %>
		</div>
		
		  <div class="actions">
		    <%= f.button :submit, I18n.t("devise.sessions.login") ,:class => "btn btn-primary"%>
		  </div>
		<% end %>
		
		<%= render "links" %>
		</div>
	</div>
	
	<div class="span5">
		<div class="well fixed-login-size">
		<h2><%= I18n.t("devise.registrations.register") %></h2>
		
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>
		
		  <div class="inputs">
		  		<%= f.input :name, :required => true, :autofocus => true  , :label => I18n.t("devise.registrations.name")%>
    			<%= f.input :email, :required => true  , :label => I18n.t("devise.registrations.email")%>
    			<%= f.input :password, :required => true , :label => I18n.t("devise.registrations.password")%>
    			<%= f.input :password_confirmation, :required => true , :label => I18n.t("devise.registrations.password_confirm")%>
		  </div>
		
		  <div class="actions">
		    <%= f.button :submit, I18n.t("devise.registrations.register") ,:class => "btn btn-primary"%>
		  </div>
		<% end %>
		
		</div>
	</div>	
	<div class="span1"></div>
</div>
