	<div class="span12">
		<div class="well">
			<b><%= I18n.t("find_announcement.where.country") %></b> <%=@query["country"]%> | 
			<b><%= I18n.t("find_announcement.where.where") %></b> <%=@query["where"]%> | 
			<b><%= I18n.t("find_announcement.where.around") %></b> <%=@query["around"]%> km
			(<%= link_to I18n.t("common.change") , previous_wizard_path %>)
		</div>
	</div>
	
