
<div class="row">
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
		<div class="well">
			<b><%= I18n.t("find_announcement.where.country") %></b> <%=@query["country"]%> | 
			<b><%= I18n.t("find_announcement.where.where") %></b> <%=@query["where"]%> | 
			<b><%= I18n.t("find_announcement.where.around") %></b> <%=@query["around"]%> km
			(<%= link_to I18n.t("common.change") , previous_wizard_path %>)
		</div>
	</div>
	<div class="span12">
		<div class="well">
			<table class="table table-hover">
				<thead>
			        <tr>
			          <th><%= I18n.t("billboard.name") %></th>
			          <th><%= I18n.t("billboard.location") %></th>
			        </tr>
			      </thead>
			      <tbody>
					<% @billboards.each do |billboard| %>
					<tr>
		              <td><%= link_to  billboard.name , next_wizard_path(:billboard_id => billboard.id) %></td>
		              <td><%= billboard.description[0..50] %></td>
		            </tr>
					<%end%>
			 	</tbody>
			</table>
		</div>
	</div>
</div>
