
<div class="row">
	
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
		<%= render 'partial/medium_map' %>
	</div>
	
	<div class="span12">
		
		<%= will_paginate @billboards %>
		
		<div class="well">
			<table class="table table-hover">
				<thead>
			        <tr>
			          <th><%= I18n.t("billboard.name") %></th>
			          <th><%= I18n.t("billboard.location") %></th>
			        </tr>
			      </thead>
			      <tbody>
			      	<% letters = ('A'..'Z').to_a %>
					<% @billboards.each do |billboard| %>
					<tr>
		              <td><%=image_tag 'http://www.google.com/intl/en_ALL/mapfiles/marker_green'+ letters.delete_at(0).to_s + '.png', :size => "16x16"%>
		              	<%= link_to billboard.name , billboard_path( billboard) %></td>
		              <td><%= billboard.description[0..50] %></td>
		            </tr>
					<%end%>
			 	</tbody>
			</table>
			

		</div>

			<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> " + I18n.t("common.home"))), billboards_path, :class => 'btn' %>
		
	</div>
</div>
