
<div class="row">
	<div class="span12">
		<%= render 'partial/header' %>
	</div>
	
	<div class="span12">
		<div class="well">
			<b><=%t :country %>:</b> <%=@query["country"]%> | 
			<b><=%t :where %>:</b> <%=@query["where"]%> | 
			<b><=%t :radius %>:</b> <%=@query["around"]%> km
			(<%= link_to t(:modify) , previous_wizard_path %>)
		</div>
	</div>
	<div class="span12">
		<div class="well">
			<table class="table table-hover">
				<thead>
			        <tr>
			          <th><%=t :name %></th>
			          <th><%=t :description %></th>
			        </tr>
			      </thead>
			      <tbody>
					<% @billboards.each do |billboard| %>
					<tr>
		              <td><%= link_to  billboard.name , next_wizard_path(:billboard_id => billboard.id) %></td>
		              <td><%= billboard.description[0..50] %></td>
		            </tr>
					<%end%>
			 	</tbody>
			</table>
		</div>
	</div>
</div>
