
<div class="top-part">
	<h3><%= I18n.t("billboard.this_is" ) %></h3>
	<div class="break-word">
		<h1> <%= @billboard.name%></h1>
	</div>
	<div class="upper_space">
		<h3><%= I18n.t("description.locommun_head")%></h3>
		<p class="break-word justify-content">
			<%= I18n.t("description.locommun_text") %>
		</p>

	</div>
	
</div>

<div class="link">
		<p class="break-word justify-content">
			<h4><%= I18n.t("flyer.community.activate") %>:</h4>
		</p>
		<br/>
		<h3 ><%= @billboard.key%></h3>
		<br/>
		<p class="break-word justify-content">
			<h4><%= I18n.t("flyer.community.scan") %>:</h4>
		</p>
</div>


<div class="qrcode1">
<% qrcode_url= url_for :action => "activate", :key => @billboard.key ,:only_path => false%>
<%= qrcode qrcode_url  , :level => :l , :size => 6 %>
<br />

<p class="pull-right">powered by Locommun.eu</p>
</div>

