<%= wicked_pdf_image_tag('comic2.jpg' ,:class => "float-right") %>

<h3><%= I18n.t("billboard.this_is" ) %></h3>
</span>
<h2> <%= @billboard.name%></h2>

<br />
<br />
<br />
<h3>Locommun</h3>
<p class="justify-content">
	<%= I18n.t("description.locommun_text") %>
</p>

<h3><%= I18n.t("description.how") %></h3>
<p class="justify-content">
	<%= I18n.t("description.how_text") %>
</p>
<div class="center-content">
	<p >
		Um diese Gemeinschaft freizuschalten, gebe folgenden Aktivierungscode auf <h4>locommun.eu</h4> ein:
	</p>

	<h3><%= @billboard.key%></h3>

	<p>
		oder scanne einfach den QR-Code mit deinem Smartphone:
	</p>
</div>
<% qrcode_url= url_for :action => "activate", :key => @billboard.key ,:only_path => false%>
<%= qrcode qrcode_url  , :level => :l , :size => 6 %>
