<div class="billboard-controlls well">
	<h3>
		<%= I18n.t("common.community") %>
		<% if @billboard %>
			<%= @billboard.name %> 
		<% end %>
		<%= I18n.t("common.activate") %>:
		</h3>
	<p>
		<%= I18n.t("billboard.enter_join_code") %>
	</p>
	<form class="form-inline" action="activate">
		<input type="text"  name="key"  value="<%= params["code"]%>" placeholder="Code...">
		<button type="submit" class="btn btn-primary">
			<%= I18n.t("common.activate") %>
		</button>
	</form>	 
</div>