<div class="row">
	
	<% if @billboard %>
		<%=render '/partial/billboard_nav'%>
		<div class="span6">
	<%else%>
		<div class="span12">
	<% end %>
		
	<% if @billboard %>
		<%=render '/partial/request_activate_text'%>
	<%end%>
	
	<%=render 'request_activate_form'%>
	
	<% if @billboard %>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i>" + I18n.t("common.cancel"))), billboard_path(@billboard)  , :class => "btn"  %>
	<%else%>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i>" + I18n.t("common.cancel"))), billboards_path  , :class => "btn"  %>
	<%end%>
		
	</div>
	
	<div class="span3"></div>
	
</div>
