<div class="row">
	<div class="well">
	<h1><%= I18n.t("description.title") %></h1>
	</div>
	<div class="span3">
		
	 	<%= image_tag('comic4.jpg' , :class =>'span3 img-polaroid')%>
	 	
	 </div>
	 <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3><%= I18n.t("description.locommun_head") %></h3>
			<p class="justify-content">
				<%= I18n.t("description.locommun_text") %>
				
			</p>
		</div>
	</div>
	
	<div class="span3">
	 	<%= image_tag('comic2.jpg' , :class =>'span3 img-polaroid')%>
	 </div>
	 <a name="howto"></a>
	 <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3><%= I18n.t("description.how") %></h3>
			<p class="justify-content">
				<%= I18n.t("description.how_text") %>
			</p>
		</div>
	</div>
	<div class="span3">
	 	<%= image_tag('comic3.jpg' , :class =>'span3 img-polaroid')%>
	 </div>
	  <div class="span1"></div>
	 <div class="span8">
		<div class="well">
			<h3><%= I18n.t("description.local") %></h3>
			<p class="justify-content">
				<%= I18n.t("description.local_text") %>
			</p>
		</div>
	</div>
	<div class="span12">
  <div class="well">
    <h3><%= I18n.t("description.beta") %></h3><a name="beta"></a>
    <p class="justify-content">
    	<%= I18n.t("description.beta_text_1") %>
    <a href="https://github.com/locommun/prix"><%= I18n.t("description.github", :default => "GitHub") %></a><%= I18n.t("description.beta_text_2") %>
    </p>
  </div>
  </div>
  
  <div class="span12">
  <div class="well">
    <h3><%= I18n.t("description.godfather") %></h3><a name="pate"></a>
    <p class="justify-content">
    	<%= I18n.t("description.godfather_text") %>
    </p>
    
  </div>
  </div>
  
</div>
