
<div class="billboard-controlls well">

	<h1>Paten-Gesuch von <%= @dialog.user.name %></h1>

	<p><%= @dialog.text %></p>
	 
	 <%if user_signed_in? && @dialog.user != current_user && @dialog.godfather != current_user && !(@dialog.godfather)%>
	 	<%= link_to I18n.t("dialog.accept"), {:controller => "billboards", :action => "dialog_accept", :id => @dialog.id } , :class=>"btn btn-primary" %>
	 <%elsif @dialog.godfather %>
	 	<h3><%= I18n.t("dialog.accept_text_1")%> <%= @dialog.godfather.name%> <%= I18n.t("dialog.accept_text_2") %></h3>
	 <%end%>
</div>

<% @dialog.dialogcomments.each do |dialogcomment| %>
	<div class="well">
			<strong><%= dialogcomment.user.name %>:</strong> <%= dialogcomment.text %>
	</div>
<%end%>


	<div class="well">	
		<a href="<%= url_for(:controller => "billboards",:action => 'description', :anchor => "pate") %>"><%= I18n.t("dialog.more_info_on_godfather" ) %></a>
		<hr />
		<%= simple_form_for(@dialog.dialogcomments.build) do |f| %>
		
		  <div class="form-inputs">
		     <%= f.input :text ,:label => I18n.t("dialog.write_dialog")  , :required => false , :input_html => {:rows => 7 }%>
	
		  	<%= f.input :dialog_id , :as => :hidden%>

		  </div>
		
		  	<%= f.submit I18n.t("common.send") , :class => "btn btn-primary"%>
		  
		<% end %>
	</div>
	<%if @dialog.billboard%>
		<%= link_to I18n.t("common.billboard"), billboard_path(:id => @dialog.billboard.id) ,:class => "btn btn-primary" %>
	<%end%>
