<div class="row">
	
	<%=render '/partial/billboard_nav'%>
	<div class="span6">
		<div class="billboard-controlls well">

			<h3><%= I18n.t("godfather_form.title") %></h3>
			<p><%= I18n.t("godfather_form.text") %> <a href="<%= url_for(:controller => "billboards",:action => 'description', :anchor => "pate") %>"><span class="label label-demestoa">?</span></a></p> 
			<%= simple_form_for(@billboard.dialogs.build) do |f| %>
			
			  <div class="form-inputs">
			     <%= f.input :text ,:label => I18n.t("godfather_form.hint"), :required => false , :input_html => {:rows => 7 , :style => "width:95%;"}%>
			 	<%= f.input :billboard_id , :as => :hidden %>
			  </div>
			
			  	<%= f.submit I18n.t("common.send") , :class => "btn btn-primary"%>
			  
			<% end %>

		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> " + I18n.t("common.cancel"))), billboard_path(@billboard) , :class => "btn"  %>
	
	</div>
	<div class="span3"></div>
</div>
