<div class="row">
	
	<%=render '/partial/billboard_nav'%>
	<div class="span6">
		<div class="billboard-controlls well">

			<h3>Patensuche</h3>
			<p>Suche einen Paten bei der Gemeinschaft. <a href="/billboards/description#pate"><span class="label label-demestoa">?</span></a></p> 
			<%= simple_form_for(@billboard.dialogs.build) do |f| %>
			
			  <div class="form-inputs">
			    <%= f.input :text ,:label => "Stelle dich kurz vor:", :required => false , :input_html => {:rows => 7 , :style => "width:95%;"}%>
			  	<%= f.input :billboard_id , :as => :hidden %>
			  </div>
			
			  	<%= f.submit "Abschicken" , :class => "btn btn-primary"%>
			  
			<% end %>

		</div>
		<%= link_to (raw ("<i  class=\"icon-chevron-left\"></i> Abbrechen")), billboard_path(@billboard) , :class => "btn"  %>
	
	</div>
	<div class="span3"></div>
</div>