<div class="center-content">
	<h2><%= I18n.t("index.do_something_local") %></h2>
	<br />
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%= I18n.t("index.find_activities") %></h4>
					</div>

					<%= link_to image_tag('activity_grad.png',:class => 'transparent'), find_announcement_path(:where)%>

					<div class="caption">
						<div class="center-content">
							<hr />
							<%= link_to I18n.t("index.find_activities_link"), find_announcement_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<h5><%= I18n.t("index.find_activities_text") %></h5>
					</div>

				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%= I18n.t("index.find_billboard") %></h4>
					</div>

					<%= link_to image_tag('find_grad.png',:class => 'transparent'), find_billboard_path(:where)%>
					<div class="caption" >
						<div class="center-content">

							<hr />
							<%= link_to I18n.t("index.find_billboard_link"), find_billboard_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5><%= I18n.t("index.find_billboard_text") %></h5>
						</p>

						<p>
							<%= I18n.t("index.code_found") %><br />
							<a href="<%= url_for(:controller => "billboards", :action => "activate_form") %>"> 
								<strong><%= I18n.t("billboard.activate") %></strong>
							</a>
						</p>
						<br />
					</div>
				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%= I18n.t("index.create_billboard") %></h4>
					</div>

					<%= link_to image_tag('create_grad.png',:class => 'transparent'), create_billboard_path(:detail)%>
					<div class="caption">
						<div class="center-content">

							<hr />
							<!--<a href="/billboards/new" class="btn btn-primary"><%= I18n.t("billboards.index.gemeinschaft_gründen", :default => "Gemeinschaft gründen") %></a>-->
							<%= link_to I18n.t("index.create_billboard_link" ), create_billboard_path(:detail), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5><%= I18n.t("index.create_billboard_text_1") %></h5>
							<%= I18n.t("index.create_billboard_text_2") %>
							
						</p>

					</div>
				</div>
			</li>

		</ul>
	</div>
</div>
