    <div class="center-content">
			<h2>Mach mal was Lokales! <a href="/billboards/description"><span class="badge badge-warning">mehr dazu</span></a></h2>	
		</div>
    <div class="row">	    
	    <div class="span1"></div>
		<div class="span3">	
					
	        <div class=" span3">
	          <%= image_tag('comic2-transparent.gif' , :class =>'span3')%>
	        </div>
	        
	        <div class="span3">
	        	<div class="right_arrow">
		          	<div class="body">
		                 <h4 id="center"><a href="/billboards#events">Aktivität finden</a></h4>           
		            </div>
		            <div class="arrow"></div>
	            </div>
	        </div>      
	    </div>
	  
	  <div class="span3">
	    <div class="hidden-phone span3">
	      <%= image_tag('comic3-transparent.gif' , :class =>'span3')%>
	    </div>
	    
		 <div class="span3">
	             <div class="right_arrow">
		          	<div class="body">
		                 <h4 id="center"><a href="/billboards/description#howto">Online informieren oder organisieren</a></h4>           
		            </div>
		            <div class="arrow"></div>
	            </div>
	     	</div>
	   </div>
	
		<div class="span3">
	        <div class="hidden-phone span3">
	          <%= image_tag('comic4-transparent.gif' , :class =>'span3')%>
	        </div>
	        <div class="span3">
	             <div class="right_arrow">
		          	<div class="body">
		                 <h4 id="center">Aktivität starten</b></h4>          
		            </div>
		            <div class="arrow"></div>
	            </div>
	     	</div>
	    </div>
	</div>	
	<br />
    <div class="row"> 	   	
    	<div class="span12">	      	
		    <div class="hidden-phone center-content" id="hidden-map">
		    	<h3>Litfaßsäulen in deiner Nähe:</h3> 
		    	<%= render 'map_index' %></br>	
		    	<button id="hide-map-button" class="btn btn-primary"><i class="icon-chevron-up icon-white"></i>Verstecke Karte</button>
		    </div>  	      	
		    <div class="visible-phone center-content" id="show-map-link">
		    	<button id="show-map-button"  class="btn btn-primary"><i class="icon-chevron-down icon-white"></i>Zeige Karte</button>
		    </div>
	    </div>
	    
    </div>
 	<br />
 	<div class="row">
 		<a name="events"></a>
 		<div class="span12">
 			<%= render 'list_index' %>
 		</div>
 		
 		<div class="span12">
			<div class="well">
	 		<h3>Litfaßsäule beitreten:</h3>
	 		<p>
	 			Um selber Aktivitäten anzukündigen, kannst du einer Litfaßsäule beitreten.
	 			Dazu musst du zu der entsprechenden Litfaßsäule gehen und entweder mit einem Smartphone den QR-Code einscannen,
	 			 oder den Freischalt-Code notieren und hier eingeben.
	 		</p>
			<form class="form-inline" action="billboards/activate">
				<input type="text"  name="key"  value="<%= params["code"]%>" placeholder="Code...">
				<button type="submit" class="btn btn-primary">
					beitreten
				</button>
			</form>	 
			</div>
	    </div>   

	</div>
