<div class="center-content">
	<h2>Mach mal was Lokales! </h2>
	<br />
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4>Finde lokale Aktivitäten</h4>
					</div>

					<%= link_to image_tag('activity_grad.png',:class => 'transparent'), find_announcement_path(:where)%>

					<div class="caption">
						<div class="center-content">
							<hr />
							<%= link_to "Lokale Aktivität finden", find_announcement_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<h5>Finde Events, Veranstalltungen oder verschiedenste Arten von Aktivitäten.</h5>
					</div>

				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4>Suche Gemeinschaften</h4>
					</div>

					<%= link_to image_tag('find_grad.png',:class => 'transparent'), find_billboard_path(:where)%>
					<div class="caption" >
						<div class="center-content">

							<hr />
							<%= link_to "Gemeinschaft suchen", find_billboard_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5>Finde interessante Gemeinschaften und erstelle Aktivitäten.</h5>
						</p>

						<p>
							Du hast schon eine Gemeinschaft gefunden?
							<a href="<%= url_for(:controller => "billboards", :action => "activate_form") %>"> 
								<strong>Gemeinschaft freischalten</strong>
							</a>
						</p>
						<br />
					</div>
				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4>Gründe eine Gemeinschaft</h4>
					</div>

					<%= link_to image_tag('create_grad.png',:class => 'transparent'), create_billboard_path(:detail)%>
					<div class="caption">
						<div class="center-content">

							<hr />
							<!--<a href="/billboards/new" class="btn btn-primary">Gemeinschaft gründen</a>-->
							<%= link_to "Gemeinschaft gründen", create_billboard_path(:detail), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5>Gründe doch eine neue Gemeinschaft,</h5>
							wenn es in deiner Nachbarschaft noch keine passende Gemeinschaft gibt?
						</p>

					</div>
				</div>
			</li>

		</ul>
	</div>
</div>
