<div class="center-content">
	<h2>Mach mal was Lokales! </h2>
	<br />
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			
			<li class="span4">
				<div class="thumbnail fixed-title-thumb">
					
						<div class="center-content">
							<h4>Finde lokale Aktivitäten</h4>
						</div>

					<%= link_to image_tag('activity.png',:class => 'transparent'), find_announcement_path(:where)%>
					
					<div class="caption">
						<div class="center-content">
							<hr />
							<%= link_to "Lokale Aktivität finden", find_announcement_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						Finde Events, Veranstalltungen oder verschiedenste Arten von Aktivitäten.
					</div>
					
				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

						<div class="center-content">
							<h4>Suche Gemeinschaften</h4>
						</div>

					<%= link_to image_tag('find.png',:class => 'transparent'), find_billboard_path(:where)%>
					<div class="caption" >
						<div class="center-content">

							<hr />
							<%= link_to "Gemeinschaft suchen", find_billboard_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							Finde interessante <a href="/billboards/description#community">Gemeinschaften</a>.
						</p>

							Bei einer Gemeinschaft kannst du:
						<ul>
							<li>
								jegliche Art von Aktivität einstellen
							</li>
							<li>
								einen <a href="/billboards/description#pate">Paten</a> suchen
							</li>
							<li>
								eine <a href="/billboards/description#pate">Patenschaft</a> annehmen
							</li>
						</ul>
						</p>
						<br />
					</div>
				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

						<div class="center-content">
							<h4>Gründe eine Gemeinschaft</h4>
						</div>
						
					<%= link_to image_tag('create.png',:class => 'transparent'), create_billboard_path(:detail)%>
					<div class="caption">
						<div class="center-content">

							<hr />
							<!--<a href="/billboards/new" class="btn btn-primary">Gemeinschaft gründen</a>-->
							<%= link_to "Gemeinschaft gründen", create_billboard_path(:detail), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							Gibt es in deiner Nachbarschaft noch keine passende <a href="/billboards/description#community">Gemeinschaft</a>?
						</p>
						<p>
							Gründe doch eine neue <a href="/billboards/description#community">Gemeinschaft</a>!
						</p>
					</div>
				</div>
			</li>
			
		</ul>
	</div>
</div>
