<div class="center-content">
	<h2><%=t :slogan %></h2>
	<br />
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%=t :find_local_activities></h4>
					</div>

					<%= link_to image_tag('activity_grad.png',:class => 'transparent'), find_announcement_path(:where)%>

					<div class="caption">
						<div class="center-content">
							<hr />
							<%= link_to t(:find_local_activities), find_announcement_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<h5><%=t :find_events></h5>
					</div>

				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%=t :search_for_communities></h4>
					</div>

					<%= link_to image_tag('find_grad.png',:class => 'transparent'), find_billboard_path(:where)%>
					<div class="caption" >
						<div class="center-content">

							<hr />
							<%= link_to t(:serach_for_community), find_billboard_path(:where), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5><%=t :find_communities_create_activities></h5>
						</p>

						<p>
							<%=t :already_got_code><br />
							<a href="<%= url_for(:controller => "billboards", :action => "activate_form") %>"> 
								<strong><%=t :unlock></strong>
							</a>
						</p>
						<br />
					</div>
				</div>
			</li>

			<li class="span4">
				<div class="thumbnail fixed-title-thumb">

					<div class="center-content">
						<h4><%=t :found_new_community></h4>
					</div>

					<%= link_to image_tag('create_grad.png',:class => 'transparent'), create_billboard_path(:detail)%>
					<div class="caption">
						<div class="center-content">

							<hr />
							<!--<a href="/billboards/new" class="btn btn-primary">Gemeinschaft gründen</a>-->
							<%= link_to t(:found_community), create_billboard_path(:detail), :class=> "btn btn-primary" %>
							<hr />
						</div>
						<p>
							<h5><%=t create_new_community></h5>
							<%=t :communities_nearby_exist>
						</p>

					</div>
				</div>
			</li>

		</ul>
	</div>
</div>
