    <div class="row">	    
	    
	    <div class="span12 center-content">
	    	<ul class="thumbnails">
              
              <li class="span4">
                <div class="thumbnail">
                  <%= image_tag('comic4.jpg' , :class =>'span4')%>
                  <div class="caption">
                    <h4>Lust mit Anderen etwas zu unternehmen?</h4>
                    
                    <a href="/billboards/description" class="btn btn-primary visible-phone">mehr dazu</a>
                  
                  </div>
                </div>
              </li>
              
              <li class="span4 hidden-phone">
                <div class="thumbnail">
                  <%= image_tag('comic2.jpg' , :class =>'span4')%>
                  <div class="caption">
                     <h4>Hole den Aktivierungscode an der Litfaßsäule.</h4>
                    </div>
                </div>
              </li>
              
              <li class="span4 hidden-phone">
                <div class="thumbnail">
                  <%= image_tag('comic3.jpg' , :class =>'span4')%>
                  <div class="caption">
                    <h4>...und mache mit!</h4>
					<a href="/billboards/description" class="btn btn-primary">mehr dazu</a>
                    </div>
                </div>
              </li>
              
            </ul>
	    </div>  
	</div>	
    <div class="row"> 	  	      	
	    <div class="hidden-phone center-content" id="hidden-map">
	    	<%= render 'map_index' %></br>	
	    	<button id="hide-map-button" class="btn btn-primary"><i class="icon-chevron-up icon-white"></i>Verstecke Karte</button>
	    </div>  	      	
	    <div class="visible-phone center-content" id="show-map-link">
	    	<button id="show-map-button"  class="btn btn-primary"><i class="icon-chevron-down icon-white"></i>Zeige Karte</button>
	    </div>
    </div>
    <br />
 	
 	<div class="row">
 		<div class="span6">
 			<div class="well">
 			<h3>Litfaßsäulen in deiner Nähe:</h3>
 			<%= render 'list_index' %>
 			</div>
 		</div>
		<div class="span6">
			<div class="well">
	 		<h3>Litfaßsäule freischalten</h3>
		
			<form class="form-inline" action="billboards/activate">
				<input type="text"  name="key"  value="<%= params["code"]%>" placeholder="Code...">
				<button type="submit" class="btn btn-primary">
					freischalten
				</button>
			</form>	 
			</div>
	    </div>   

	</div>
