<%=link_to "Print the billboard", "javascript:print()"  %>

<h1>Billboard <%= @billboard.name%></h1>

<div class="well">
	<%= @billboard.description%>
</div>

<div class="well">
	To join the billboard go to localhost and enter the billboard key:
	
	<h2><%= @billboard.key%></h2>
	
	or scan:
	<% qrcode_url= url_for :action => "activate", :key => @billboard.key ,:only_path => false%>
	<%= qrcode qrcode_url  , :level => :m%>

	
</div>

