<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<%= wicked_pdf_stylesheet_link_tag "print" -%>
		<%= wicked_pdf_stylesheet_link_tag "print-community" -%>
		<%= wicked_pdf_stylesheet_link_tag "application" -%>
		
		<style>
			body {
				height: 1012px;
				background-position: left top;
			  	background-image: url( 'file:///<%= asset_pathname('community-flyer.png') %>');
			  	background-repeat: no-repeat;
			  	background-size: 100% 100%;
			  	background-clip:border-box;
			  	-webkit-background-clip:border-box;  /* Safari */
			}

		</style>
		
	</head>

	<body>
		<%=render 'flyer'%>
		<%= render 'stubs' %>
	</body>
</html>