<div class="row">
	<div class="span3">
		<div class="well" id="billboard-controlls">
		<h2><%= @billboard.name %></h2>
		<p>
			<%= @billboard.description %>
		</p>
		<%= gmaps({ 
			"map_options" => { "container_class" => "minimap_container", "id" =>  "minimap","auto_adjust" => true , "zoom" => 14,"auto_zoom" => false},
			"markers" => {"data" => @json}
			}) %> 
		
		<p>
			<p style="font-size:xx-small;">
			<b>Lat:</b>
			<%= @billboard.latitude %></span>
			<p style="font-size:xx-small;">
			<b>Long:</b>
				<%= @billboard.longitude %>
			</span>
		</p>
		<p><strong>
		<%= link_to  (raw ("<i  class=\"icon-file icon-white\"></i> Neue Anzeige")) , new_announcement_path(:billboard_id => @billboard.id) ,:class => "btn btn-primary"%>
		</strong></p>
		<p>
			<% if @billboard.user == current_user %>
				
					<%=link_to (raw ("<i  class=\"icon-print \"></i> Aushang drucken")), billboard_path(:id => @billboard.id, :format => :pdf) ,:class => "btn" %>
				
			<%end%>
		</p>
		
		<p>
		<%if current_user && @billboard.user == current_user%>
			<%= link_to 'Editieren', edit_billboard_path(@billboard) ,:class => "btn"%>
		<%end%>
		</p>
		<p>
		<%= link_to 'Zurück', billboards_path ,:class => "btn"%>
		</p> 
		</div>
	</div>
	
		
		<% @billboard.announcements.each do |announcement| %>
		<div class="span3">
			<div class="well">
			<h3><%= link_to  announcement.name , announcement %></h3>
			<p>
				<%= announcement.description %>
			</p>
			</div>
			
		</div>
		<%end%>
		
			
		
		
</div>

