<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />	
		<%= wicked_pdf_stylesheet_link_tag "print" -%>
		<%= wicked_pdf_stylesheet_link_tag "print-community" -%>
		<%= wicked_pdf_stylesheet_link_tag "application" -%>
		
		<style>
			div.flyer {
				height: 1012px;
				width:auto;
				background-position: left top;
			  	background-image: url( 'file:///<%= asset_pathname('community-flyer.png') %>');
			  	background-repeat: no-repeat;
			  	background-size: 100% 100%;
			  	background-clip:border-box;
			  	-webkit-background-clip:border-box;  /* Safari */
			}
			div.stubs {
				top: 1030px;
				height: 1012px;
				background-image: url( 'file:///<%= asset_pathname('stubs.png') %>');
			  	background-repeat: no-repeat;
			  	background-size: 100% 100%;
			  	background-clip:border-box;
			  	-webkit-background-clip:border-box;  /* Safari */
			}


		</style>
		
	</head>

	<body>
		<div class="flyer">
			<%=render 'flyer'%>
		</div>
		
		<div class="stubs">
			<%=render 'stubs'%>
		</div>

	</body>
</html>
