<div class="row">
	<div class="span2">
		<h2><%= @billboard.name %></h2>
		<p>
			<b>Description:</b>
			<%= @billboard.description %>
		</p>
		<%= gmaps({ 
			"map_options" => { "container_class" => "minimap_container", "id" =>  "minimap","auto_adjust" => true , "zoom" => 14,"auto_zoom" => false},
			"markers" => {"data" => @json}
			}) %> 
		
		<p>
			<p  style="font-size:xx-small;">
			<b>Lat:</b>
			<%= @billboard.latitude %></span>
			<p  style="font-size:xx-small;">
			<b>Long:</b>
				<%= @billboard.longitude %>
			</span>
		</p>
		
	</div>
	<div class="span10">
		
		<% @billboard.announcements.each do |announcement| %>
		<div class="span2">
			<div class="well">
			<h3><%= announcement.name %></h3>
			<p>
				<%= announcement.description %>
			</p>
			<%= link_to "Show" , announcement , :class=> "btn"%>
			</div>
		</div>
		<%end%>
		<div class="span2">
			<div class="well">
				<%= link_to "New Announcement" , new_announcement_path(:billboard_id => @billboard.id)%>
			</div>
			</div>
	</div>
</div>

<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %> |
<%= link_to 'Back', billboards_path %> 