<!DOCTYPE html>
<html>
    
<head>
  <title>Demestoa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="/">Demestoa</a><span class="label label-demestoa"><%= link_to "Alpha" , :controller => "billboard", :action => "description" , :anchor=> "alpha" %></span>
          <ul class="nav pull-right">
          	<% if user_signed_in? %>
			 	<li><%= link_to 'Abmelden', destroy_user_session_path %></li>
			 <% else %>
			 	<li><%= link_to 'Registrieren', new_user_registration_path %></li>
			 	<li> <%= link_to 'Anmelden', new_user_session_path %></li>
			 <% end %>
          </ul>
         
        </div>
      </div>
    </div>

    <div class="container" id="main-container">
		<% flash.each do |type, msg| -%>
					<div class="row">
						<div class="span12">
							<a class="close" data-dismiss="alert">×</a>
							<p class="alert alert-<%= bootstrap_notice_mapper(type)%>" >
								<%= msg %>
							</p>
						</div>
					</div>
		<%end%>
     	<%= yield %>
    </div> <!-- /container -->
<hr />

	<footer class="center-content">
			<%= yield :scripts %>
	<h3><%= link_to "Impressum","http://www.mi.fu-berlin.de/fb/impressum/index.html" %></h3>
	</footer>

</body>
</html>




