<!DOCTYPE html>
<html>
    
<head>
  <title>Locommun.eu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="/">Locommun</a><a href="/billboards/description#beta"><span class="label label-demestoa">Beta</span></a>
          
          <ul class="nav pull-right">
          	<% if user_signed_in? %>
				<li><%= link_to (raw ("<i  class=\"icon-home icon-white\"></i> "))+current_user.email , announcements_path %></li>
			 	<li><%= link_to t(:sign_out), destroy_user_session_path %></li>
			 <% else %>
			 	<li> <%= link_to (raw ("<i  class=\"icon-user icon-white\"></i> "+t(:sign_in))), new_user_session_path %></li>
			 <% end %>
          </ul>
         
        </div>
      </div>
    </div>

		
	    <div class="container" id="main-container">
			<% flash.each do |type, msg| -%>
						<div class="row">
							<div class="span12">
								<a class="close" data-dismiss="alert">×</a>
								<p class="alert alert-<%= bootstrap_notice_mapper(type)%>" >
									<%= msg %>
								</p>
							</div>
						</div>
			<%end%>

	     	<%= yield %>

	    </div> <!-- /container -->

<hr />

	<footer class="center-content">
			<%= yield :scripts %>
    <a href="/billboards/description">FAQ</a> | 
	<%= link_to t(:impressum),"http://www.mi.fu-berlin.de/fb/impressum/index.html" %> |
	<a href="/billboards/sources"><%=t :sources></a> |
	<a href="/billboards/contact"><%=t :contact></a>
	</footer>
  <span style="height:10px;">&nbsp;</span>

</body>
</html>




